*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    background: #333;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.main{
    min-height: 75vh;
    padding: 30px;
    background: #f2f2f2;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main h1{
    width: 100%;
    margin-bottom: 20px;
}

.card{
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.label{
    display: inline-block;
    margin: 10px 0;
    padding: 4px 10px;
    background: #007bff;
    color: white;
    border-radius: 20px;
    font-size: 12px;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.info{
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #e7f3ff;
    border-left: 4px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
}

input:checked + .btn + .info {
    display: block;
}


.footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}